.cargaDatos {
  text-align: center;
  padding: 10px;
  color: #673ab7;
}

.spinner {
  margin: 0 auto;
}

/* Estilos heredados */
.search-form mat-form-field {
  width: 97%;
}

.pagination-section {
  margin-top: 1em;
}

.SINAPLICARexample-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}