<div class="contenedor">
  <h2>Buscar solicitudes de crédito</h2>

  <div class="search-section">
    <div class="search-form" novalidate>
      <mat-grid-list cols="4" rowHeight='4em'>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Numero de Documento" [(ngModel)]="solicitud.NumeroDocumento" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Nombre" [(ngModel)]="solicitud.Solicitante">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-select placeholder="Estado" [(ngModel)]="solicitud.Estado">
              <mat-option>Todos</mat-option>
              <mat-option *ngFor="let estado of estadosSolicitud" [value]="estado.codigo">{{ estado.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-select placeholder="Destino de crédito" [(ngModel)]="solicitud.DestinoCreditoId">
              <mat-option *ngFor="let destino of destinosSolicitud" [value]="destino.codigo">{{ destino.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput [matDatepicker]="dateFrom" placeholder="Desde" [(ngModel)]="solicitud.FechaDesde">
            <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
            <mat-datepicker #dateFrom></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput [matDatepicker]="dateTo" placeholder="Hasta" [(ngModel)]="solicitud.FechaHasta">
            <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
            <mat-datepicker #dateTo></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" class="botondetail" (click)="search()">Buscar</button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>

  <br>

  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" *ngIf="!estaCargando else sinDatos">
      <!-- Code Column -->
      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef> Num </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.code}} </mat-cell>
      </ng-container>
      <!-- Candidate Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Solicitante </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.name}} </mat-cell>
      </ng-container>
      <!-- documentNumber Column -->
      <ng-container matColumnDef="documentNumber">
        <mat-header-cell *matHeaderCellDef> Numero de documento </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.documentNumber}} </mat-cell>
      </ng-container>
      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef> Monto </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.amount | currency:'S/ '}} </mat-cell>
      </ng-container>
      <!-- date Column -->
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Fecha presentación</mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.date | date:'dd/MM/yyyy'}} </mat-cell>
      </ng-container>
      <!-- period Column -->
      <ng-container matColumnDef="period">
        <mat-header-cell *matHeaderCellDef> Plazo </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.period}} </mat-cell>
      </ng-container>
      <!-- status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.status}} </mat-cell>
      </ng-container>
      <!-- penTEA Column -->
      <ng-container matColumnDef="penTea">
        <mat-header-cell *matHeaderCellDef> TEA (Asig) </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.penTea | percent}} </mat-cell>
      </ng-container>
      <!-- finalTEA Column -->
      <ng-container matColumnDef="finalTea">
        <mat-header-cell *matHeaderCellDef> TEA (Final) </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.finalTea | percent}} </mat-cell>
      </ng-container>
      <!-- operation Column -->
      <ng-container matColumnDef="operations">
        <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
        <mat-cell *matCellDef="let item">
          <div class="button-row">
            <button mat-icon-button (click)='goEdit(item)'><mat-icon>mode_edit</mat-icon></button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    <ng-template #sinDatos>
        <div class="mat-elevation-z8 noData cargaDatos">
          <mat-spinner *ngIf="estaCargando" class="spinner"></mat-spinner>
          <h2 *ngIf="estaCargando">Cargando datos</h2>
          <h2 *ngIf="!estaCargando">No hay registros disponibles</h2>
        </div>
    </ng-template>
<!--
    <nav class="pagination-section" aria-label="Page navigation example" *ngIf="numPages.length > 1">
      <ul class="pagination justify-content-end">
        <li class="page-item" *ngFor="let page of numPages; let i = index;" [class.active]="currentPage === page">
          <a class="page-link" (click)="search(page)">{{ page }}</a>
        </li>
      </ul>
    </nav>
-->

  </div>
</div>
