<div class="contenedor">

<h2>Registro de solicitud de credito - paso 1</h2>

<form [formGroup]="registroPaso1Formulario" novalidate>

  <mat-card class="solicitud-card mat-elevation-z8">

    <!--<mat-card-header>-->
      <!--<mat-icon>send</mat-icon>-->
      <!--<div mat-card-avatar></div>-->
      <!--<mat-card-title>Información personal</mat-card-title>-->
      <!--<mat-card-subtitle>Paso 1 de 2</mat-card-subtitle>-->
    <!--</mat-card-header>-->

    <div *ngIf="mostrarMensaje" class="cuadro-mensaje">
      <div class="cuadro-resaltado">{{ mensajeError }}</div>
    </div>

    <mat-card-content>
      <h3>Información personal</h3>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombres" formControlName="nombres" maxlength="60" required>
            <mat-error *ngIf="registroPaso1Formulario.controls['nombres'].hasError('required')">
              Sus nombres son <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido Paterno" formControlName="apellidoPaterno" maxlength="60" required>
            <mat-error *ngIf="registroPaso1Formulario.controls['apellidoPaterno'].hasError('required')">
              Su apellido paterno es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido Materno" formControlName="apellidoMaterno" maxlength="60" required>
            <mat-error *ngIf="registroPaso1Formulario.controls['apellidoMaterno'].hasError('required')">
              Su apellido materno es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input value="Mario" matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" formControlName="fechaNacimiento" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="registroPaso1Formulario.controls['fechaNacimiento'].hasError('required')">
                Su fecha de nacimiento es un dato <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Tipo de documento" formControlName="tipoDocumento">
              <mat-option *ngFor="let documento of documentos" [value]="documento.codigo">
                {{ documento.nombre }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registroPaso1Formulario.controls['tipoDocumento'].hasError('required')">
              Su tipo de documento de identidad es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Numero de documento" formControlName="numeroDocumento" class="sinincremento" maxlength="12" required>
            <mat-icon matSuffix>subtitles</mat-icon>
            <mat-error *ngIf="registroPaso1Formulario.controls['numeroDocumento'].hasError('required')">
              El número de documento es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="registroPaso1Formulario.controls['numeroDocumento'].hasError('minlength')">
              Debe ingresar un número de 8 digitos
            </mat-error>
            <mat-error *ngIf="registroPaso1Formulario.controls['numeroDocumento'].hasError('pattern')">
              Debe ingresar solo números
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Digito de verificacion" formControlName="digitoVerificacion" maxlength="1" required>
              <mat-error *ngIf="registroPaso1Formulario.controls['digitoVerificacion'].hasError('required')">
                El digito de verificacion es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="registroPaso1Formulario.controls['digitoVerificacion'].hasError('pattern')">
                Ingrese un número
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Genero" formControlName="genero">
              <mat-option *ngFor="let genero of generos" [value]="genero.codigo">
                {{ genero.nombre }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registroPaso1Formulario.controls['genero'].hasError('required')">
              Su genero es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Correo electronico" formControlName="correoPersonal"  maxlength="60" required [errorStateMatcher]="matcher">
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-error *ngIf="registroPaso1Formulario.controls['correoPersonal'].hasError('required')">
              El correo electrónico es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="registroPaso1Formulario.controls['correoPersonal'].hasError('email') &&
                             !registroPaso1Formulario.controls['correoPersonal'].hasError('required')">
              Ingrese un correo electrónico válido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Numero celular" formControlName="telefonoCelular" maxlength="9">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="registroPaso1Formulario.controls['telefonoCelular'].hasError('required')">
              Su numero de celular es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="registroPaso1Formulario.controls['telefonoCelular'].hasError('pattern')">
              Ingrese un número de celular válido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Ingreso mensual" formControlName="ingresoMensual" class="monto-derecha sinincremento" maxlength="6">
            <span matPrefix>S/&nbsp;</span>
            <span matSuffix>.00</span>
            <mat-error *ngIf="registroPaso1Formulario.controls['ingresoMensual'].hasError('required')">
              Su ingreso mensual es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Grado de instruccion" formControlName="gradoInstruccion">
              <mat-option *ngFor="let grado of grados" [value]="grado.codigo">
                {{ grado.nombre }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registroPaso1Formulario.controls['gradoInstruccion'].hasError('required')">
              Su grado de instruccion es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Tipo de actividad" formControlName="tipoActividad">
              <mat-option *ngFor="let actividad of actividades" [value]="actividad.codigo">
                {{ actividad.nombre }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registroPaso1Formulario.controls['tipoActividad'].hasError('required')">
              Su tipo de actividad es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Tipo de ocupacion" formControlName="tipoOcupacion">
              <mat-option *ngFor="let rubro of rubrosActividades" [value]="rubro.codigo">
                {{ rubro.nombre }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registroPaso1Formulario.controls['tipoOcupacion'].hasError('required')">
              El tipo de ocupacion es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Monto solicitado" formControlName="montoPrestamo" class="monto-derecha" [errorStateMatcher]="matcher" required>
            <span matPrefix>S/&nbsp;</span>
            <span matSuffix>.00</span>
            <mat-error *ngIf="registroPaso1Formulario.controls['montoPrestamo'].hasError('required')">
              El monto solicitado es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="registroPaso1Formulario.controls['montoPrestamo'].hasError('min')">
              El monto minimo es de <strong>2,000</strong>
            </mat-error>
            <mat-error *ngIf="registroPaso1Formulario.controls['montoPrestamo'].hasError('max')">
              El monto máximo es de <strong>30,000</strong>
            </mat-error>
            <mat-error *ngIf="registroPaso1Formulario.controls['montoPrestamo'].hasError('pattern')">
              Debe ingresar <strong> solo números</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Destino del credito" formControlName="destinoPrestamo">
              <mat-option *ngFor="let destino of destinos" [value]="destino.codigo">
                {{ destino.nombre }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registroPaso1Formulario.controls['destinoPrestamo'].hasError('required')">
              El destino del credito es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Motivo del préstamo" formControlName="destinoDetalle" [errorStateMatcher]="matcher" required></textarea>
            <mat-error *ngIf="registroPaso1Formulario.controls['destinoDetalle'].hasError('required')">
              El motivo del préstamo es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="registroPaso1Formulario.controls['destinoDetalle'].hasError('maxlength')">
              El motivo debe tener una longitud máxima de <strong>120 caracteres</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <br>
          <mat-checkbox formControlName="aceptoTerminos" required>
            <label>Acepto los términos y condiciones de la plataforma *</label>
          </mat-checkbox>
          </div>
      </div>

      <br>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" (click)="registrarPrimerPaso()" [disabled]="!registroPaso1Formulario.valid">Siguiente</button>
      <button mat-raised-button color="primary" type="submit" (click)="navegar()">Paso 2</button>
    </mat-card-actions>
  </mat-card>
</form>
</div>
