<div class="contenedor">

  <h2>Registro de solicitud de credito - paso 2</h2>

<form [formGroup]="registroPaso2Formulario" novalidate>
<mat-card class="shipping-card mat-elevation-z8">
  <div *ngIf="mostrarMensaje" class="cuadro-mensaje">
    <div class="cuadro-resaltado">{{ mensajeError }}</div>
  </div>
  <mat-card-content>
    <h3>Información personal complementaria</h3>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-select placeholder="País" formControlName="pais" (selectionChange)="paisChange($event.value)">
            <mat-option *ngFor="let pais of paises" [value]="pais.codigo">
              {{ pais.nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="registroPaso2Formulario.controls['pais'].hasError('required')">
            Su pais de residencia es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Dirección de residencia" formControlName="direccion" maxlength="60" required>
          <mat-icon matSuffix>location_on</mat-icon>
          <mat-hint>Indicar la dirección exacta</mat-hint>
          <mat-error *ngIf="registroPaso2Formulario.controls['direccion'].hasError('required')">
            La dirección es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-select placeholder="Departamento" formControlName="departamento" (selectionChange)="departamentoChange($event.value)">
            <mat-option *ngFor="let dpto of departamentos" [value]="dpto.codigo">
              {{ dpto.nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="registroPaso2Formulario.controls['departamento'].hasError('required')">
            Su departamento es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-select placeholder="Provincia" formControlName="provincia" (selectionChange)="provinciaChange($event.value)">
            <mat-option *ngFor="let provincia of provincias" [value]="provincia.codigo">
              {{ provincia.nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="registroPaso2Formulario.controls['provincia'].hasError('required')">
            Su provincia es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-select placeholder="Distrito" formControlName="distrito">
            <mat-option *ngFor="let distrito of distritos" [value]="distrito.codigo">
              {{ distrito.nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="registroPaso2Formulario.controls['distrito'].hasError('required')">
            Su distrito es un dato <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-select placeholder="Plazo del préstamo" formControlName="cuotas">
              <mat-option value="12">12</mat-option>
              <mat-option value="18">18</mat-option>
              <mat-option value="24">24</mat-option>
              <mat-option value="36">36</mat-option>
          </mat-select>
          <mat-error *ngIf="registroPaso2Formulario.controls['cuotas'].hasError('required')">
            El plazo es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-select placeholder="Estado civil" formControlName="estadoCivil" (selectionChange)="estadoCivilChange($event.value)">
            <mat-option *ngFor="let estado of estadosCiviles" [value]="estado.codigo">
              {{ estado.nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="registroPaso2Formulario.controls['estadoCivil'].hasError('required')">
            El estado civil es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Lugar de trabajo" formControlName="lugarTrabajo" required>
          <mat-icon matSuffix>business_center</mat-icon>
          <mat-error *ngIf="registroPaso2Formulario.controls['lugarTrabajo'].hasError('required')">
            El nombre de su lugar de trabajo es <strong>requerido</strong>
          </mat-error>
          <mat-error *ngIf="registroPaso2Formulario.controls['lugarTrabajo'].hasError('maxlength')">
            El lugar de trabajo debe tener una longitud máxima de <strong>100 caracteres</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="solicitanteCasado">

      <h3>Datos de tu pareja</h3>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" [hideRequiredMarker]="!solicitanteCasado">
            <input matInput placeholder="Nombres de tu pareja" formControlName="nombrePareja">
          </mat-form-field>
          <mat-error *ngIf="registroPaso2Formulario.controls['nombrePareja'].hasError('maxlength')">
              El nombre debe tener una longitud máxima de <strong>60 caracteres</strong>
          </mat-error>
        </div>
        <div class="col">
          <mat-form-field class="full-width" [hideRequiredMarker]="solicitanteCasado">
            <input matInput placeholder="Apellido Paterno de tu pareja" formControlName="apellidoPaternoPareja" required>
          </mat-form-field>
          <mat-error *ngIf="registroPaso2Formulario.controls['apellidoPaternoPareja'].hasError('maxlength')">
              El apellido paterno debe tener una longitud máxima de <strong>60 caracteres</strong>
          </mat-error>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" [hideRequiredMarker]="solicitanteCasado">
            <input matInput placeholder="Apellido Materno de tu pareja" formControlName="apellidoMaternoPareja" required>
          </mat-form-field>
          <mat-error *ngIf="registroPaso2Formulario.controls['apellidoMaternoPareja'].hasError('maxlength')">
              El apellido materno debe tener una longitud máxima de <strong>60 caracteres</strong>
          </mat-error>
        </div>
        <div class="col">
          <mat-form-field class="full-width" [hideRequiredMarker]="solicitanteCasado">
            <mat-select placeholder="Tipo de documento de tu pareja" formControlName="tipoDocumentoPareja">
              <mat-option *ngFor="let documento of documentos" [value]="documento.codigo">
                {{ documento.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" [hideRequiredMarker]="solicitanteCasado">
            <input matInput placeholder="Numero de documento del cónyuge" formControlName="numeroDocumentoPareja" maxlength="8" required>
            <mat-icon matSuffix>subtitles</mat-icon>
            <mat-error *ngIf="registroPaso2Formulario.controls['numeroDocumentoPareja'].hasError('required')">
              El número de documento del cónyuge es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="registroPaso2Formulario.controls['numeroDocumentoPareja'].hasError('minlength')">
              Debe ingresar un número de 8 digitos
            </mat-error>
            <mat-error *ngIf="registroPaso2Formulario.controls['numeroDocumentoPareja'].hasError('pattern')">
              Debe ingresar solo números
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col"></div>
      </div>

    </div>

    <h3>Datos de tu cuenta</h3>

    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-select placeholder="Tipo de cuenta" formControlName="tipoCuentaBancaria">
            <mat-option *ngFor="let tipoCuenta of tiposCuentas" [value]="tipoCuenta.codigo">
              {{ tipoCuenta.nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="registroPaso2Formulario.controls['tipoCuentaBancaria'].hasError('required')">
            Su tipo de cuenta bancaria es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-select placeholder="Nombre del banco" formControlName="bancoCodigo">
            <mat-option *ngFor="let banco of bancos" [value]="banco.codigo">
              {{ banco.nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="registroPaso2Formulario.controls['bancoCodigo'].hasError('required')">
            El nombre de su banco es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="full-width" hintLabel="Ingresar los 20 digitos sin guiones o separadores">
          <input matInput #input placeholder="Código interbancario" formControlName="codigoInterbancario" maxlength="20" required>
          <mat-icon matSuffix>credit_card</mat-icon>
          <mat-hint align="end">{{ input.value?.length || 0 }}/20</mat-hint>
          <mat-error *ngIf="registroPaso2Formulario.controls['codigoInterbancario'].hasError('required')">
            Su código interbancario es <strong>requerido</strong>
          </mat-error>
          <mat-error *ngIf="registroPaso2Formulario.controls['codigoInterbancario'].hasError('minlength')
                            || registroPaso2Formulario.controls['codigoInterbancario'].hasError('maxlength')">
            Debe ingresar un número de 20 digitos
          </mat-error>
          <mat-error *ngIf="registroPaso2Formulario.controls['codigoInterbancario'].hasError('pattern')">
            Debe ingresar solo números
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col"></div>
    </div>

    <br><br>

    <div class="row">
      <div class="col">
        <mat-checkbox formControlName="esPEP">
          <label>¿Eres una persona expuesta políticamente (PEP) o algún familiar cercano lo es? *</label>
        </mat-checkbox>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="full-width" *ngIf="registroPaso2Formulario.value.esPEP">
          <input matInput placeholder="¿Qué posición o cargo que ocupa?" formControlName="cargoPEP">
          <mat-error *ngIf="registroPaso2Formulario.controls['cargoPEP'].hasError('maxlength')">
            La posición o cargo debe tener una longitud máxima de <strong>100 caracteres</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col"></div>
    </div>

    <br><br>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit" (click)="registrarSegundoPaso()" [disabled]="!registroPaso2Formulario.valid">Siguiente</button>
    <button mat-raised-button color="primary" type="submit" (click)="navegar()">Paso 3</button>
  </mat-card-actions>
</mat-card>
</form>
</div>
