<div class="contenedor">

  <h2>Su solicitud ha pasado a subasta, pronto recibirá noticias.</h2>

  <p>
    Estamos revisando la documentación proporcionada y luego publicaremos tu solicitud en búsqueda financiamiento. Te mantendremos informado sobre el progreso.
  </p>
  <p>
    Si tiene alguna consulta revise las <a href="#">preguntas frecuentes</a> o pongase en contacto con nuestro asesor virtual.
  </p>
  <p>
    Tambien hemos enviado a su correo electronico a tu buzon con las instrucciones para ingresar a nuestro portal de clientes.
  </p>

</div>


