.evaluation-section {
    display: flex;
  }
  
  .evaluation-section .column {
    flex: 1;
  }
  
  .evaluation .full-width {
    width: 100%;
  }
  
  .form-subasta mat-form-field {
    width: 100%;
  }
  